.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.UnderConstr {
  color: yellow;
}

.card {
  margin-bottom: 18px;
  width: 480px;
  padding: 12px 6px;
  box-shadow: #000000 2px 2px 2px;
  display: flex;
  flex-direction: row;
  margin: 12px auto;
}

.card input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
}

.card label {
  flex: 4;
  font-size: 10px;
  padding: 0 12px;
}

.card button {
  flex: 1;
  color: black;
  background-color: white;
  border: 2px solid #61dafb;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.card button:hover {
  background-color: #8ce6ff;
}

.add {
  flex: 1;
  color: black;
  background-color: white;
  border: 2px solid #61dafb;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 12px auto;
  text-align: center;
}

.add:hover {
  background-color: #8ce6ff;
}
